<!DOCTYPE html>
<html>
  <head>
    <script src="js/helper.js"></script>
  </head>
  <body>
    <h1>Page View Status</h1>
    <table>
      <tr>
        <th>Page</th>
        <th>Pageviews</th>
        <th>Unique Pageviews</th>
        <th>Avg. Time on Page</th>
        <th>Bounce Rate</th>
        <th>% Exit</th>
      </tr>
      <% for (var i = 0; i < jsonData.length; i++) { %>
        <tr>
          <td><%= jsonData[i].page %></td>
          <td><%= jsonData[i].pageviews %></td>
          <td><%= jsonData[i].uniquePageViews %></td>
          <td><%= jsonData[i].avgTimeOnPage %></td>
          <td><%= jsonData[i].bounceRate %></td>
          <td><%= jsonData[i].exitPercent %></td>
        </tr>
      <% } %>
    </table>
    <button onClick="sortBtnPressed('pageviews')">Sort by Pageviews</button>
    <button onClick="sortBtnPressed('uniquePageviews')">Sort by Unique Pageviews</button>
    <button onClick="sortBtnPressed('avgTimeOnPage')">Sort by Avg. Time on Page</button>
    <button onClick="sortBtnPressed('bounceRate')">Sort by Bounce Rate</button>
    <button onClick="sortBtnPressed('exitPercent')">Sort by % Exit</button>
  </body>
</html>
